@import 'tailwindcss';
@import 'fumadocs-twoslash/twoslash.css';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --font-serif: var(--font-geist-sans);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-geist-sans);
  --font-display: var(--font-geist-sans);
  --font-body: var(--font-geist-sans);

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  .fd-codeblock:not(:hover).shiki.has-focused {
    .line:not(.focused) {
      span {
        @apply blur-[2px];
      }
    }
  }

  .shiki {
    counter-reset: step;
    counter-increment: step 0;
    pre {
      @apply px-0;
    }
    .line {
      @apply border-l-2 border-transparent w-full min-w-full box-border transition-all duration-300 relative;
      span {
        @apply transition-all duration-300;
      }
      &::before {
        counter-increment: step;
        @apply inline-block w-8 px-2 border-transparent text-right text-neutral-600 content-[counter(step)];
      }
      &.highlighted,
      &.diff {
        @apply m-0 px-0!;
        &::before {
          @apply relative left-auto;
        }
      }
      &.highlighted {
        @apply border-neutral-500 bg-neutral-800;
      }
      &.diff {
        &.add {
          @apply border-violet-500 bg-violet-500/10 before:text-violet-500;
        }
        &.remove {
          @apply border-red-500 bg-red-500/15 opacity-70 *:text-neutral-400! before:text-orange-500;
          &::before {
            content: '-';
            counter-increment: none;
          }
        }
      }
    }
  }
}
