@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --border: var(--color-fd-border);
  --input: var(--color-fd-border);
  --ring: var(--color-fd-ring);
  --background: var(--color-fd-background);
  --foreground: var(--color-fd-foreground);
  --primary: var(--color-fd-primary);
  --primary-foreground: var(--color-fd-primary-foreground);
  --secondary: var(--color-fd-secondary);
  --secondary-foreground: var(--color-fd-secondary-foreground);
  --destructive: var(--color-fd-destructive, var(--color-fd-primary));
  --destructive-foreground: var(--color-fd-destructive-foreground, var(--color-fd-primary-foreground));
  --muted: var(--color-fd-muted);
  --muted-foreground: var(--color-fd-muted-foreground);
  --accent: var(--color-fd-accent);
  --accent-foreground: var(--color-fd-accent-foreground);
  --popover: var(--color-fd-popover);
  --popover-foreground: var(--color-fd-popover-foreground);
  --card: var(--color-fd-card);
  --card-foreground: var(--color-fd-card-foreground);
  --radius: 0.5rem;
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}